/* mainpage.module.css */
#root, *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.container {
    display: flex;
    flex-direction: row;
    height: 100vh; /* take up full height of the viewport */
    width: 100vw; /* take up full width of the viewport */
  }
  
  .groupList {
    background-color: white; /* light gray background */
    border-right: 1px solid #ddd; /* separator between group list and chat box */
    max-width: 430px;
    width: 100%;
    position: relative;
  }
  
  .addNotes {
    width: 93px;
    height: 93px;
    position: absolute; /* fixed position */
    bottom: 20px; /* 20px from the bottom */
    right: 20px; /* 20px from the right */
    z-index: 1; /* bring to front */
    background-color: #16008B; /* green background */
    color: #fff; /* white text */
    padding: 10px;
    border-radius: 50%; /* circular shape */
    cursor: pointer; /* pointer cursor */
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .addNotes:hover {
    background-color: #3e8e41; /* darker green on hover */
  }
  
  .chatBox {
    width: 100%;
    background-color: #fff; /* white background */
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .addNotesComponent{
    position: absolute;
    z-index: 2;
  }