.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.container header{
  min-height: 98px;
  width: 100%;
  background-color: #001F8B;
}

.shortForm {
  margin-left: 38px;
  margin-right:42px;
  width: 69px;
  height: 69px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  flex-shrink: 0;
}

.notesDisplay {
  width: 100%;
  min-height: 360px;
  flex-grow: 1;
  background-color: #dae5f5;
  overflow: scroll;
  overflow-x: hidden;
}
