.container {
  width: 740px;
 min-height: 317px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  font-weight: 500;
  font-family: "Roboto";
  font-size: 27px;
  letter-spacing: 0.035em;
  line-height: 43.75px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.container h1 {
  font-size: 29px;
  margin-top:35px;
  margin-left:51px;
}

.groupNameInput {
  width: 435px;
  height: 51px;
  border-radius: 22px;
  border: 2px solid #cccccc;
  margin-left: 42px;
  margin-top: 18px;
  padding: 28px;
  font-family: "Roboto";
  color: #979797;
  font-size: 23px;
}

.colorButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 6px;
  border: none;
  cursor: pointer;
  transform-origin: center; /* add this line */
}

.colorButton:hover {
  transform: scale(1.1);
}

.colorButton:active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.selectedColorButton {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
.colorPalette {
  margin-left: 49px;
}

.colorPaletteSection {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}
.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.createGroupButton {
  width: 154px;
  height: 38px;
  background-color: #001f8b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 11px;
  margin-right: 27px;
}

.bottomSection {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  margin-top:30px;

  
}

.bottomSection p {
  font-size: 21px;
}

label{
  margin-left:51px;
}